@media screen and (min-width: 768px) {

    header .material-symbols-outlined {/* Adicionando 'header' ao seletor para a regra poder ser aplicada corretamente*/
        display: none; 
    }

    .menu {
        display: flex; 
        justify-content: space-between; 
        background-color: transparent; 
        width: auto; 
        margin-right: 20px; 
    }

        .menu > ul {
            display: flex; 
            list-style-type: none;
            padding: 0;
            margin: 0;
            align-items: center; 
        }

    .menu li {
        margin-left: 20px; 
        width: auto; /* Remove qualquer largura específica de mobile */
        margin-bottom: 0; 
    }

    .menu li a {
        color: #fff;
        border-bottom: none;
    }

    #sobre-a-loja h2{
        font-size: 2em;
    }

    #sobre-a-loja p {
        max-width: 700px;
        margin: auto;
        text-align: justify;
        font-size: 1em;
    }

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(3, 32.6%);
        column-gap: 1%;
    }

    .em-destaque h2,
    .promos h2{
        text-align: left;
        font-size: 1.6em;
        margin-left: 10px;
    }

    #contato input{
        max-width: 40%;
    }

    .social-links{
        display: flex;
        justify-content: center;
    }
}