


@media screen and (min-width: 641px) {

    header .material-symbols-outlined {/* Adicionando 'header' ao seletor para a regra poder ser aplicada corretamente*/
        display: none; 
    }

    .menu {
        display: flex; 
        justify-content: space-between; 
        background-color: transparent; 
        width: auto; 
        margin-right: 20px; 
    }

        .menu > ul {
            display: flex; 
            list-style-type: none;
            padding: 0;
            margin: 0;
            align-items: center; 
        }

    .menu li {
        margin-left: 20px; 
        width: auto; /* Remove qualquer largura específica de mobile */
        margin-bottom: 0; 
    }

    .menu li a {
        color: #fff;
        border-bottom: none;
    }

    #sobre-a-loja h2{
        font-size: 2em;
    }

    #sobre-a-loja p {
        max-width: 700px;
        margin: auto;
        text-align: justify;
        font-size: 1em;
        padding: 16px;
    }

    #contato input{
        max-width: 40%;
    }

    .social-links{
        display: flex;
        justify-content: center;
    }
}



@media screen and (min-width: 641px) and (max-width: 1023px) {
    
    #sobre-a-loja picture{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #sobre-a-loja picture img{
        max-width: 100%;
        padding: 16px;
        display: block;
    }
    
    header .material-symbols-outlined {/* Adicionando 'header' ao seletor para a regra poder ser aplicada corretamente*/
        display: none; 
    }

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 1.5%;
    }
}



@media screen and (min-width: 1024px) {

    .container-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 36px;

    }
    
    #sobre-a-loja picture img{
        max-width: 100%;
        display: flex;
        padding: 24px;
    }

    .texto-sobre-nos{
        padding: 24px;
    }

    .lista-produtos {
        display: grid;
        grid-template-columns: repeat(4, 23.5%);
        column-gap: 1%;
    }

    .em-destaque h2,
    .promos h2{
        text-align: left;
        font-size: 1.6em;
        margin-left: 10px;
    }

   
}